.form-data {
    padding: 20px;
    background-color: #bae0ff;
    border-radius: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.ant-form-item-label {
    font-size: 20px;
}

.ant-picker {
    height: 40px;
    border: none;
}

.ant-input {
    height: 40px;
    border: none;
}

.ant-btn {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.ant-input-number {
    width: 100%;
    height: 40px;
}

.ant-input-number-input {
    width: 100%;
    height: 100%;
}

.ant-input-number-input {
    width: 100%;
    height: 100%;
}

.ant-input-number-input-wrap {
    height: 100%;
}

.ant-select {
    height: 40px;
}