.app-layout {
	min-height: 100vh;
	background-color: #fff;
}

.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.app-content {
	width: 100%;
	max-width: 1000px;
	text-align: center;
}

.ant-progress-outer {
	margin-bottom: 50px;
}

.app-content-back {
	margin: 0 !important;
	width: 100px !important;
	background: #69b1ff !important;
	color: #fff;
	border: none;
	font-size: 20px;
}